<mat-toolbar style="background-color: #b0b1b6">
  <mat-toolbar-row>
    <button mat-button>
      <h3>My Project</h3>
    </button>
  
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/users" routerLinkActive="active">List Users</a>
      <a mat-button routerLink="/adduser">Add User</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened style="background-color: #b0b1b6">
    <mat-nav-list style="width: 155px">

      <!-- <a mat-list-item [routerLink]="'/accounts'"> Accounts asdfasa</a>
      <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
      <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-list-item [routerLink]="'/activities'"> Activities </a>
      <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a> -->


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>