<div class="card">
  <div class="card-body" style="width: 30%">
    <form [formGroup]="newUserForm" #myForm="ngForm">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="user.name" placeholder="Name" formControlName="name" required maxlength="50">
        </mat-form-field>
      </div>
      <div *ngIf="myForm.submitted">
        <mat-error *ngIf="newUserForm.hasError('required', 'name')">
          This field is required!
        </mat-error>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput type="password" formControlName="password" [(ngModel)]="user.password" required placeholder="Password">
        </mat-form-field>
      </div>
      <div *ngIf="myForm.submitted">
        <mat-error *ngIf="newUserForm.hasError('required','password')">
          This field is required!
        </mat-error>
      </div>
      <mat-error *ngIf="newUserForm.hasError('minlength','password')">
        Min number is 6
      </mat-error>
      <mat-error *ngIf="newUserForm.hasError('maxlength','password')">
        Max number is 12
      </mat-error>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput type="password" [(ngModel)]="user.confirmpassword" formControlName="confirmpassword" required
            placeholder="Confirm Password">
        </mat-form-field>
      </div>
      <div *ngIf="myForm.submitted">
        <mat-error *ngIf="newUserForm.hasError('required', 'confirmpassword')">
          This field is required!
        </mat-error>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="Email" formControlName="email" [(ngModel)]="user.email" required>
        </mat-form-field>
      </div>
      <div *ngIf="myForm.submitted">
        <mat-error *ngIf="newUserForm.hasError('required','email')">
          This field is required!
        </mat-error>
      </div>
      <mat-error *ngIf="newUserForm.hasError('email','email')">
        Please enter a valid email address!
      </mat-error>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <textarea matInput formControlName="address" [(ngModel)]="user.address" required placeholder="Address"
            maxlength="150"></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="myForm.submitted">
        <mat-error *ngIf="newUserForm.hasError('required', 'address')">
          This field is required!
        </mat-error>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <span matPrefix>+959 &nbsp;</span>
          <input matInput type="tel" formControlName="phone" placeholder="Phone" [(ngModel)]="user.phoneno" required
            maxlength="10">
          <mat-hint align="start"><strong>eg.+959 9 your number</strong> </mat-hint>
        </mat-form-field>
      </div>
      <div *ngIf="myForm.submitted">
        <mat-error *ngIf="newUserForm.hasError('required','phone')">
          This field is required!
        </mat-error>
      </div>
      <mat-error *ngIf="newUserForm.hasError('pattern','phone')">
        Please enter number only!
      </mat-error>

      <button mat-raised-button color="primary" (click)="saveNewUser()">Save</button>
    </form>
  </div>
</div>