<h1 mat-dialog-title>Update User Info</h1>
<div mat-dialog-content style="width: 600px;height: 400px;">
  <form [formGroup]="userUpdateForm" #myForm="ngForm" class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="name" [(ngModel)]="data.name" name="name" required>
    </mat-form-field>
    <div *ngIf="myForm.submitted">
      <mat-error *ngIf="userUpdateForm.hasError('required', 'name')">
        This field is required!
      </mat-error>
    </div>

    <mat-form-field class="example-full-width">
      <input matInput type="email" formControlName="email" placeholder="Email" [(ngModel)]="data.email" name="email" required>
    </mat-form-field>
    <div *ngIf="myForm.submitted">
      <mat-error *ngIf="userUpdateForm.hasError('required', 'email')">
        This field is required!
      </mat-error>
    </div>
    <mat-error *ngIf="userUpdateForm.hasError('email','email')">
      Please enter a valid email address!
    </mat-error>

    <mat-form-field class="example-full-width">
      <input matInput type="text"  formControlName="address" placeholder="Address" [(ngModel)]="data.address" name="address" required>
    </mat-form-field>
    <div *ngIf="myForm.submitted">
      <mat-error *ngIf="userUpdateForm.hasError('required', 'address')">
        This field is required!
      </mat-error>
    </div>

    <mat-form-field class="example-full-width">
      <input matInput type="tel" formControlName="phone" placeholder="Phone no" [(ngModel)]="data.phoneno" name="phoneno" required maxlength="10">
    </mat-form-field>
    <div *ngIf="myForm.submitted">
      <mat-error *ngIf="userUpdateForm.hasError('required', 'phone')">
        This field is required!
      </mat-error>
    </div>
    <mat-error *ngIf="userUpdateForm.hasError('pattern','phone')">
      Please enter number only!
    </mat-error>
    
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="updateUserInfo()" cdkFocusInitial>Update</button>
      <button mat-raised-button matDialogClose="cancel" (click)="closeDialog()" class="reset-btn">Canel</button>
    </div>
  </form>
</div>