
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let user;let i = index;"> {{i+1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let user"> {{user.address}} </td>
    </ng-container>

    <!-- Phone no Column -->
  <ng-container matColumnDef="phoneno">
      <th mat-header-cell *matHeaderCellDef> Phone no </th>
      <td mat-cell *matCellDef="let user"> {{user.phoneno}} </td>
    </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th style="text-align: center" mat-header-cell *matHeaderCellDef> Edit </th>
    <td style="text-align: center" mat-cell *matCellDef="let user">
      <button mat-button (click)="openDialog(user)"><mat-icon aria-hidden="false" aria-label="Example home icon">create</mat-icon></button>
    </td> 
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th style="text-align: center" mat-header-cell *matHeaderCellDef> Delete </th>
    <td style="text-align: center" mat-cell *matCellDef="let user">
      <button mat-button (click)="deleteUserInfo(user.id)"><mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
 <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
